<ion-view hide-nav-bar="true" view-title="My Profile">
  <div class="bar bar-header bar-positive">
      <a ng-href="#/home" class="button button-calm">Search</a>
       <h1 class="title">My Profile</h1>
       <button ng-click="logOut()" class="button button-calm">Logout</button>
    </div>
  <ion-content class="padding has-header">
    <div class="text-center padding-top">
      <img class="hrdLogo" ng-src="img/logo.png" alt="">
    </div>
    <form name="updateForm" novalidate ng-submit="updateForm.$valid && update(fullname, company, email)"
    ng-class="{ 'has-error' : registerForm.txtemail.$invalid && registerForm.$submitted }">
    <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Name / Surname</span>
          <input name="txtemail"  type="text" ng-model="fullname" placeholder="Name / Surname"
          ng-minlength="5"
          required>
        </label>
        <div class="form-errors" ng-messages="registerForm.txtemail.$error" ng-if="registerForm.$submitted">
          <div class="form-error" ng-message="required">This field is required</div>
        </div>

        <label class="item item-input item-floating-label">
          <span class="input-label">Company</span>
          <input name="txtemail" type="text" ng-model="company" placeholder="Company"
          ng-minlength="5"
          required>
        </label>
        <div class="form-errors" ng-messages="registerForm.txtemail.$error" ng-if="registerForm.$submitted">
          <div class="form-error" ng-message="required">This field is required</div>
        </div>

        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input name="txtemail" type="email" ng-model="email" placeholder="Email"
          ng-minlength="5"
          required>
        </label>
        <div class="form-errors" ng-messages="registerForm.txtemail.$error" ng-if="registerForm.$submitted">
          <div class="form-error" ng-message="required">This field is required</div>
          <div class="form-error" ng-message="email">This field is must be an email.</div>
        </div>
        

    </div>
    <div class="padding-top">
      <input type="submit" value="Update" class="button button-block button-positive"/>
      
    </div>
  </form>
  </ion-content>
</ion-view>
