<ion-view view-title="Register">
  <ion-content class="padding">
    <div class="text-center padding-top">
      <img ng-src="img/logo.png" alt="">
    </div>
    <form name="registerForm" novalidate ng-submit="registerForm.$valid && register(user)"
    ng-class="{ 'has-error' : registerForm.txtemail.$invalid && registerForm.$submitted }">
    <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Name / Surname</span>
          <input name="txtemail" type="text" ng-model="user.fullname" placeholder="Name / Surname"
          ng-minlength="5"
          required>
        </label>
        <div class="form-errors" ng-messages="registerForm.txtemail.$error" ng-if="registerForm.$submitted">
          <div class="form-error" ng-message="required">This field is required</div>
        </div>

        <label class="item item-input item-floating-label">
          <span class="input-label">Company</span>
          <input name="txtemail" type="text" ng-model="user.company" placeholder="Company"
          ng-minlength="5"
          required>
        </label>
        <div class="form-errors" ng-messages="registerForm.txtemail.$error" ng-if="registerForm.$submitted">
          <div class="form-error" ng-message="required">This field is required</div>
        </div>

        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input name="txtemail" type="email" ng-model="user.email" placeholder="Email"
          ng-minlength="5"
          required>
        </label>
        <div class="form-errors" ng-messages="registerForm.txtemail.$error" ng-if="registerForm.$submitted">
          <div class="form-error" ng-message="required">This field is required</div>
          <div class="form-error" ng-message="email">This field is must be an email.</div>
        </div>
        

        <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : registerForm.txtpassword.$invalid  && registerForm.$submitted}">
        <span class="input-label">Password</span>
          <input name="txtpassword" type="password" ng-model="user.password" placeholder="Password"
          ng-minlength="5"
          ng-maxlength="25"
          required>
        </label>
        <div class="form-errors" ng-messages="registerForm.txtpassword.$error" ng-if="registerForm.$submitted">
            <div class="form-error" ng-message="required">Debes ingresar una Contraseña.</div>
            <div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
            <div class="form-error" ng-message="maxlength">This field is must be less than 30 characters.</div>
          <div class="form-error" ng-message="pattern">Debe ingresar solo caracteres letras y numeros.</div>
        </div>
    </div>
    <div class="padding-top">
      <input type="submit" value="Register" class="button button-block button-positive"/>
      
    </div>
  </form>
  </ion-content>
</ion-view>
