<ion-view hide-nav-bar="true" view-title="Home" hide-back-button="true">
    <div class="bar bar-header bar-positive">
  	   <a ng-href="#/profile" class="button button-calm">My Profile</a>
       <h1 class="title">Home</h1>
       <button ng-click="logOut()" class="button button-calm">Logout</button>
    </div>
    <ion-content class="padding-left padding-right has-header">
    	 <div class="card">
	  	   <div class="item item-text-wrap">
  		    	<p>You've logged in as: {{ fullname }} from {{ company }}</p>
  		    	<br>
  		    	<div class="button-bar">
        				<button ng-click="getPhoto()" class="button button-positive">Take Photo</button>
  		    	</div>
		  	</div>
		  </div>
	    <img ng-src="{{lastPhoto}}" style="max-width: 100%">
      <form name="searchForm" ng-submit="setCertificate(certificate)">
	      <label class="item item-input item-floating-label">
            <span class="input-label">Certificate Number</span>
            <input name="certificate" type="text" ng-model="certificate" placeholder="Certificate Number" required maxlength="11" autocomplete="off" value="">
        </label>
        <button type="submit" class="button button-block button-assertive">Search</button>
      </form>
      <div ng-show="show">You've searched {{ show }} </div>
    </ion-content>
</ion-view>
